<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">ตอนนี้มีสุนัข {{dogs.length}} ตัว</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th></th>
          <th>ชื่อ</th>
          <th>อายุ</th>
          <th>เจ้าของ</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="dogs.length === 0">
        <tr>
          <td colspan="4">no dogs in db</td>
        </tr>  
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let dog of dogs; let i = index" [attr.data-index]="i">
          <td>{{i+1}}</td>
          <td>{{dog.name}}</td>
          <td>{{dog.age}}</td>
          <td>{{dog.owner}}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(dog)"><i class="fa fa-pencil"></i> แก้ไข</button> 
            <button class="btn btn-sm btn-danger" (click)="deleteDog(dog)"><i class="fa fa-trash"></i> ลบ</button>
          </td>
        </tr>  
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editDog(dog)" style="display:inline">
              <div class="form-group">
                <input class="form-control" type="text" name="name" [(ngModel)]="dog.name" placeholder="Name" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="number" name="age" [(ngModel)]="dog.age" placeholder="Age" min="0" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="owner" [(ngModel)]="dog.owner" placeholder="Owner" required>
              </div>
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
            </form>
            <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">เพิ่มสุนัข</h4>
  <div class="card-block">
    <form class="form-inline" [formGroup]="addDogForm" (ngSubmit)="addDog()" style="text-align:center">
      <div class="form-group">
        <input class="form-control" type="text" name="name" formControlName="name" placeholder="Name">
      </div>
      <div class="form-group">
        <input class="form-control" type="number" name="age" formControlName="age" placeholder="Age" min="0">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="owner" formControlName="owner" placeholder="Owner">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!addDogForm.valid"><i class="fa fa-floppy-o"></i> เพิ่ม</button>
    </form>
  </div>
</div>
